@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK JP Light"),
       local("NotoSansCJKjp-Light"),
       local("NotoSansJP-Light"),
       url('/static/fonts/NotoSansCJKjp-Light.woff2') format('woff2'),
       url('/static/fonts/NotoSansCJKjp-Light.woff') format('woff');
  }
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 100;
  src: local("Source Code Pro Light"),
       url('/static/fonts/SourceCodePro-Light.woff2') format('woff2'),
       url('/static/fonts/SourceCodePro-Light.woff') format('woff'),
       url('/static/fonts/SourceCodePro-Light.ttf') format('truetype');
       url('/static/fonts/SourceCodePro-Light.eot') format('enbedded-opentype');
  }
body{
    font-family: 'Noto Sans JP', 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku     Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo, sans-serif;
    font-weight: 300;
    margin: 30mm 45mm 0 45mm;
    width: 297mm;
}
@media print {
    body {
        margin: 0;
    }
}
h1,
h2,
h3,
p,
a {
    font-weight: 300;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #CFDAF6;
}
.loading {
    z-index: 100;
    position: absolute;
    width: 297mm;
    height: 210mm;
}
.container {
    display: none;
    width: 297mm;
    height: 210mm;
    background: #fff;
    color: #CFDAF6;
    border-style: solid;
    border-width: .05mm;
    border-color: #000B27;
    position: absolute;
}

.cv {
    float: left;
    background: #000B27;
    width: 184.802mm;
    height: 210mm;
    padding: 0;
    margin: 0;
}
.business-card {
    float: left;
    width: 112.198mm;
    height: 210mm;
    padding: 0;
    margin: 0;
}
.name {
    float: left;
    margin: 12mm 8mm 0;
    width: 99mm;
}
.name h1 {
    font-size: 30pt;
}

.name h2 {
    margin-top: -2mm;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Source Code Pro';
    color: #97A7D1;
}
.summary,
.skills-title {
    float: left;
    margin: 4mm 0mm 0mm 8mm;
    width: 107mm;
}
.description {
    float: left;
    margin: 4mm 0mm 0mm 8mm;
    width: 176.803mm;
}
.summary h3,
.skills-title,
.description h3 {
    font-size: 16pt;
}
.skills,
.skill-chart {
    font-size: 10pt;
}
.summary p,
.description p {
    font-size: 10pt;
    padding-left: 4mm;
}
.skills {
    display: grid;
    grid-gap: 2mm;
    grid-template-columns: 33.33% 33.33% 33.33%;
    float: left;
    margin: 0mm 4mm 0mm 8mm;
    width: 172.803mm;
}
.skill-chart {
}

.photo {
    display: inline-block;
    padding: 16.339mm;
    padding-bottom: 0;
}

.emailqr,
.photo img,
.photo a {
    display: block;
}
.photo img {
    width: 27.125mm;
    margin: 2mm 5mm 5mm 5mm;
}
.emailqr {
    width: 15mm;
    height: 15mm;
    margin: 0;
    margin-top: 1mm;
}

.timeline {
    margin: 2mm 0 0 0;
}
.timeline li h4 {
    margin: 0 0 1ex 0;
}

.exp-detail {
    padding-left: 4mm;
}
.exp-detail p{
    padding-left: 0;
}

.exp-detail,
.edu-item {
    margin-right: 8mm;
}

.refs {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 50% 50%;
    margin-top: .5mm;
    color: #CFDAF6;
}
.refs-card {
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto auto;
    color: #CFDAF6;
}
.description h4,
.refs-card h4 {
    margin: 0;
    margin-left: 1mm;
    font-size: 12pt;
}
.refs-card h5 {
    margin: 2mm 0 0 2mm;
    font-weight: 300;
    font-size: 10pt;
}

#lang-switch:hover {
    border: .5mm solid #CFDAF6;
    border-radius: .5mm;
}
#lang-switch {
    display: block;
    border: .5mm solid transparent;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: #CFDAF6;
    font-family: 'Source Code Pro';
    font-size: 16pt;
    font-weight: bold;
    width: 25mm;
    margin: 0 auto;
}

.en {
    display: inline-block;
}
.jp {
    display: none;
}
