@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans CJK JP Thin"),
       local("NotoSansCJKjp-Thin"),
       local("NotoSansJP-Thin"),
       url('/static/fonts/NotoSansCJKjp-Thin.woff2') format('woff2'),
       url('/static/fonts/NotoSansCJKjp-Thin.woff') format('woff');
  }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 200;
  src: local("Noto Sans CJK JP Light"),
       local("NotoSansCJKjp-Light"),
       local("NotoSansJP-Light"),
       url('/static/fonts/NotoSansCJKjp-Light.woff2') format('woff2'),
       url('/static/fonts/NotoSansCJKjp-Light.woff') format('woff');
  }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK JP DemiLight"),
       local("NotoSansCJKjp-DemiLight"),
       local("NotoSansJP-DemiLight"),
       url('/static/fonts/NotoSansCJKjp-DemiLight.woff2') format('woff2'),
       url('/static/fonts/NotoSansCJKjp-DemiLight.woff') format('woff');
   }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"),
       local("NotoSansCJKjp-Regular"),
       local("NotoSansJP-Regular"),
       url('/static/fonts/NotoSansCJKjp-Regular.woff2') format('woff2'),
       url('/static/fonts/NotoSansCJKjp-Regular.woff') format('woff');
  }
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 100;
  src: local("Source Code Pro Light"),
       url('/static/fonts/SourceCodePro-Light.woff2') format('woff2'),
       url('/static/fonts/SourceCodePro-Light.woff') format('woff'),
       url('/static/fonts/SourceCodePro-Light.ttf') format('truetype');
       url('/static/fonts/SourceCodePro-Light.eot') format('enbedded-opentype');
  }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: #4A4A4A;
}
a:hover,
a:focus {
    text-decoration: underline;
    color: #0000ff;
}

h3 {
    font-weight: 100;
}

code {
    font-family: 'Source Code Pro';
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.container {
    min-height: 100vh;
    padding: 0;
}
.header {
    text-align: center;
    top: auto;
    display: inline-block;
    margin : 1em auto;
    float: none;
    width: 100%;
    white-space: nowrap;
}

.header.pure-menu-list {
    display: inline-block;
}

.header .pure-menu-item,
.header .pure-menu-heading,
.header .pure-menu-separator {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
}
.header .pure-menu-children {
    left: 0;
    top: auto;
    width: 10em;
}

.header .pure-menu-children .pure-menu-item {
    float: left;
}

.header .pure-menu-has-children > .pure-menu-link:after {
    content: "\25BE";
}


.sidebar {
    font-family: 'Noto Sans JP', 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif !important;
    font-weight: 200;
    text-align: center;
    color: #000;
}
/* scrollable menus */
.nav-list {
    display: inline-block;
}
.hamburger-menu-list {
    margin-top: 1em;
    overflow: visible;
}
.hamburger-menu-list-open {
    min-height: calc(100vh - 1em - 86.6562px);
}
.hamburger-menu {
    white-space: normal;
    display: none;
    width: 100vw;
    overflow: visible;
}

.hamburger-menu .pure-menu-item,
.hamburger-menu .pure-menu-heading,
.hamburger-menu .pure-menu-separator {
    display: block;
    vertical-align: baseline;
}

.hamburger-menu .pure-menu-children {
    width: 100vw;
}
.hamburger-menu .pure-menu-children .pure-menu-item {
    float: none;
}
/* thanks https://jonsuh.com/hamburgers/ */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
 }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
 }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

.hamburger .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }
.hamburger.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.show-menu {
    display: block;
}
/* hamburger menu end */

.footer {
    font-weight: 100;
    padding: 1em 0;
    text-align: center;
}

.footer-padding {
    display: none;
}
.link-color {
    color: #4A4A4A;
}
.link-color:focus,
.link-color:hover {
    color: #4A4A4A;
}

@media screen and (min-width: 64em) {
    .header {
        text-align: right;
        margin-top: 5em;
        float: right;
        width: auto;
        white-space: normal;
    }
    .header.pure-menu-list {
        display: block;
    }

    .header .pure-menu-item,
    .header .pure-menu-heading,
    .header .pure-menu-separator {
        display: block;
        vertical-align: baseline;
    }

    .header .pure-menu-children {
        left: 100%;
        top: 0;
        width: auto;
    }
    .header .pure-menu-has-children > .pure-menu-link:after {
        content: "\25B8";
    }
    .header .pure-menu-has-children .pure-menu-item {
        padding-left: 0;
    }


    .sidebar {
        text-align: left;
    }
}

.brand-title {
    margin: 1em 0;
    padding: 0;
}
.brand-tagline {
    font-family: 'Noto Sans JP', 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif !important;
    font-weight: 100;
    text-align: center;
    margin: 0;
    color: #4A4A4A;
}

.nav-list {
    margin: 0 auto;
    padding: 0;
}
.nav-item {
    display: block;
    padding-left: 1em;
    padding-right: 1em;
}
@media screen and (min-width: 64em) {
    .nav-list {
        width: 10em;
    }
    .nav-item {
        float: left;
        padding-left: 2em;
        display: inline-block;
        *display: inline;
    }
}
.nav-item a {
    margin-top: 1em;
    letter-spacing: 0.05em;
    font-size: 85%;
}

.content {
    min-height: 60vh;
    padding: .5em 1em 0;
    margin-bottom: 1em;
    font-family: 'Noto Sans JP', 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif !important;
    font-weight: 100;
}
.content .myinfo {
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    margin-top: 1em;
}
.myinfo td {
    text-align: left;
}
.myinfo .key {
    text-align: right;
    padding-right: 2em;
}
.content .postMeta {
    margin: auto;
}
.content .abstraction-content,
.content .keys-content {
    margin: auto;
    width: 85%;
    max-width: 50em;
}
.abstraction-content .abstraction-title,
.keys-content .keys-title {
    margin-bottom: 0;
    font-weight: 200;
    text-align: left;
}
.keys-content .keys-title {
    font-weight: 100;
}
.abstraction-content .abstraction-body,
.keys-content .keys-list {
    margin-top: 0;
}
.abstraction-content .abstraction-body{
    margin-bottom: .5em;
}
.content .postTitle {
    margin-top: 0em;
    margin-bottom: .25em;
    font-weight: 200;
    text-align: center;
}

.content-2col hr,
.content-1col hr {
    display: none;
}
.content-2col,
.content-1col {
    margin-bottom: 2em;
}
.content-2col {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: auto;
    padding-bottom: 2em;
}

@media screen and (min-width: 35.5em) {
    .content {
        padding: 1em 4em 0;
    }}
@media screen and (min-width: 48em) {
    .content {
        padding: 1em 4em 0;
    }
    .content .abstraction-content {
        width: 75%;
    }
    .content-2col {
        grid-template-columns: auto auto;
        min-height: 141.42vw;
    }
    .content-2col-left {
        grid-column: 1 / 2;
    }

    .content-2col-right {
        grid-column: 2 / 3;
    }
    .content-2col h3 {
        grid-column: 1 / 3;
    }
    .content-2col hr {
        grid-column: 1 / 3;
        display: block;
        border: 0;
        border-bottom: .03em solid #000;
        column-span: all;
        -webkit-column-span: all;
        padding: 1.03em 1em 0;
        margin: 0 0 1em;
    }
}
@media screen and (min-width: 64em) {
    .content {
        padding: 4em 6em 0;
        margin-left: 25%;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    .col2-content {
        min-height: 0;
    }
    .footer-padding {
        display: block;
    }
}
@media screen and (min-width: 80em) {
    .content {
        padding: 4em 2em 0;
    }
}
@media screen and (min-width: 96em) {
    .content {
        padding: 4em 8em 0;
    }
}

/*blog post list*/

.blog-menu {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    max-width: 40em;
}
.blog-item {
    margin-bottom: 1em;
}
@media screen and (min-width: 64em) {
    .blog-menu {
        margin: 0;
    }
}
.blog-link {
    padding: 0;
    color: #000;
    white-space: normal;
}
.post-meta {
    display: inline;
    color: #4A4A4A;
    margin: 0 .2em;
    font-size: .7em;
}
.pure-menu-heading {
    white-space: normal;
    text-transform: none;
    padding: 0;
    font-weight: 400;
    font-size: 1.4em;
    font-family: 'Source Code Pro';
    margin-bottom: 1.2em;
    color: #000;
}
#enorjp {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    margin-top: .6em;
    margin-bottom: 1.2em;
}
.heading-value {
    color: #219161;
}
.list-header {
    font-family: 'Source Code Pro';
    font-weight: 100;
    font-size: 1em;
    margin-bottom: 1em;
    color: #000;
    text-decoration: none;
}

.AllTagsList,
.AllAuthorsList {
    max-width: 16em;
}
.AllTagsList > ul,
.AllAuthorsList > ul{
    padding-left: .5em;
    list-style-type: none;
}
.AllTagsList > ul > li:before,
.AllAuthorsList > ul > li:before{
    content: "-  ";
}

.leading-summary {
    color: #4A4A4A;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8em;
    width: 100%;
}


/* FOR CMark-GFM */

.markdown-body > a {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.markdown-body a:focus {
  outline: none;
}

.markdown-body > h1:hover > a,
.markdown-body > h2:hover > a,
.markdown-body > h3:hover > a,
.markdown-body > h4:hover > a,
.markdown-body > h5:hover > a,
.markdown-body > h6:hover > a{
  text-decoration: none;
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #4A4A4A;
  font-size: 1em;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body h2 {
    white-space: normal;
    text-transform: none;
    padding: 0;
    font-weight: 400;
    font-size: 1.4em;
    font-family: 'Source Code Pro';
    margin-bottom: 1.2em;
    color: #000;
}
.markdown-body h3 {
    border-bottom: 1px solid #000;
    font-weight: 300;
    font-size: 1.17em;
    margin: 1em 0;
}

.markdown-body h4 {
    font-size: 1em;
    font-weight: 200;
    margin: .1em 0 1.33em 0;
    border-bottom: 1px solid #4A4A4A;
}
.markdown-body p {
    font-weight: 200;
    font-size: 1em;
    margin: 0.1em 0 1em 0;
}
.markdown-body .notes {
    font-size: .85em;
    font-weight: 100;
    color: #4A4A4A;
    text-indent: -1.2em;
    padding-left: 1.2em;
    margin: 0;
    margin-bottom: 1em;
}

