/* Container
/* =============================================== */
#container {
    margin: auto; 
    min-height: 310px; 
    min-width: 700px; 
    padding-left: 30px; 
    color: #333; }

#csbox {
    color: #fff; 
    background: #292f3b;
    margin: 10px auto; 
    width: 690px;
    height: 440px;
    font-size: small;
    text-align: center; }

/* Candlestick Chart
/* =============================================== */
#chart1 .grid { stroke-opacity: .3; }
#chart1 .axis line,
#chart1 .axis.xaxis path { fill: none; stroke: darkgrey; shape-rendering: crispEdges; }
#chart1 .tick text { font: 10px sans-serif; fill: darkgrey; stroke-opacity: .3; }
#chart1 .axis.yaxis path { fill: none; stroke: #292f3b; }

#chart1 .bands rect { fill: darkgrey; fill-opacity: 0; width: 1.5px; stroke-opacity: 0; pointer-events: all; shape-rendering: crispEdges; }
#chart1 .bands .hoved { fill-opacity: .6; }
#chart1 .sticks rect { pointer-events: none; shape-rendering: crispEdges; }
#chart1 .sticks .rise, #chart1 .candles .rise { fill: lightgrey; } 
#chart1 .sticks .fall, #chart1 .candles .fall { fill: turquoise; }
#chart1 .sticks .hoved { stroke: white; }
#chart1 .candles .hoved { stroke: white; }
#chart1 .candles rect { pointer-events: none; shape-rendering: crispEdges; }

#chart1 .bbmn { fill: none; stroke: cyan; stroke-width: 1.5px; pointer-events: none; }
#chart1 .bbup { fill: none; stroke: green; stroke-width: 1.5px; pointer-events: none; }
#chart1 .bbdn { fill: none; stroke: crimson; stroke-width: 1.5px; pointer-events: none; }

#chart1 .line {fill: none;stroke: #ffab00;stroke-width: 1;pointer-events: none;}
#chart1 .dot {fill: #ffab00;stroke: #fff;pointer-events: none;}

#chart1 .response-timebar { fill: darkgrey; } 
#chart1 .response-timebar rect { pointer-events: none; }
#chart1 .response-timebar .hoved { fill: white; }

#option    { width:160px; height: 25px; float: left; padding: 5px 0 0 10px; text-align: left; }

#option .dropdown {position: relative;display: inline-block; margin: auto 5px;}
#option .dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#option .drop-button { cursor: pointer; border-radius: 2px; color: #fff; background: #696d75; border: none;}
#option .drop-button {
                -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
              }
#DURB { width: 7ex;}
#MAVGB { width: 12ex;}
#option .dropdown-content input { cursor: pointer; color: #fff; background: #696d75; border: solid; border-color: #3b3d41; border-width: 1px; width:100%; z-index: 1;}
#option .dropdown-content input:hover { background: #565a60; }

#option .dropdown:hover .dropdown-content {display: block;}

#option .active { cursor: auto; background: #94979d; }
#option .active {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
              }
#infobar   { width: 520px; height: 25px; float: left; padding-top: 5px; text-align: left; font-family: sans-serif; }
.infohead  { width: 116px; height: 25px; margin: 0px 2px; float: left; }
.infobox   { width: 70px; height: 30px; margin: 0px 2px; float: left; }
#infomavg   { width: 98.870px}

#volchart .volbar .volfill { fill: crimson; } 
#volchart .sigbar .sigfill { fill: crimson; } 
#volchart input { cursor: pointer; }

